# --- .NET ---
**/bin/
**/obj/
*.user
*.suo
*.pdb
*.exe
*.dll
*.log

# --- Visual Studio ---
.vscode/
.vs/

# --- Docker ---
*.db
*.mdf
*.ldf
*.bak
docker-compose.override.yml

# --- Sistema ---
Thumbs.db
*.DS_Store

# --- Entornos temporales ---
.env
.env.*
secrets.json

# --- Otros ---
*.nupkg
*.snupkg
